.item {
	border-radius: 5px;
	
	margin: 10px;
	background-color:#99CCFF; 
}
.dis {
	background-color:#F5F5F5; 
}
img {
	float: left;
}

.weather-description {
	line-height: 50px;
}

.temp-eve {
	font-size: 50px;
}

span {
	font-size: 30px;
}